@font-face {
  font-family: 'Lato';
  src: url('@/assets/fonts/Lato/Lato-Regular.ttf') format('truetype');
  font-weight: 400;
}
@font-face {
  font-family: 'Nunito';
  src: url('@/assets/fonts/Nunito/Nunito-ExtraBold.ttf') format('truetype');
  font-weight: 900;
}
@font-face {
  font-family: 'Nunito';
  src: url('@/assets/fonts/Nunito/Nunito-Bold.ttf') format('truetype');
  font-weight: 700;
}
@font-face {
  font-family: 'Nunito';
  src: url('@/assets/fonts/Nunito/Nunito-Regular.ttf') format('truetype');
  font-weight: 400;
}
/* @font-face {
  font-family: "Lato";
  src: url("@/assets/fonts/Lato/Lato-Bold.ttf") format("truetype");
  font-weight: 700;
} */
@font-face {
  font-family: 'Karma';
  src: url('@/assets/fonts/Karma/Karma-Regular.ttf') format('truetype');
  font-weight: 400;
}
@font-face {
  font-family: 'Karma';
  src: url('@/assets/fonts/Karma/Karma-Bold.ttf') format('truetype');
  font-weight: 700;
}
