:root {
  --font-size: 16px;
  --app-width: 1280px;
  --app-height: 1920px;
  --show_red_outline: 0px;
  --letters_countdown_time: 2s;
  --badge-in-duration: 1000ms;
}

* {
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body,
html {
  /* cursor: url(data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7),
  auto!important; */
  margin: 0;
  font-size: var(--font-size);
  font-family: 'Nunito';
  font-weight: 400;
  letter-spacing: 1px;
  line-height: normal;
  overflow: hidden;
  background: #444;
  color: #000;
}
main {
  margin: 50px;
}

ul {
  list-style-type: none;
}
.question,
.action,
.rapport:not(.theme) {
  padding: 50px;
  padding-top: 30px;
  width: 100%;
}

.popup {
  width: var(--app-width);
  height: var(--app-height);
  background-color: rgba(0, 0, 0, 0.6);

  position: absolute;
  top: 0;
  left: 0;
  z-index: 200;
  display: flex;
  align-items: center;
  justify-content: center;
}
.popup .content {
  position: absolute;
  z-index: 250;
  width: 1124px;
  /* min-height: 40%; */
  background-color: white;
  border-radius: 44px;
  color: black;
  padding: 40px 10px 60px 10px;
}
.blurZone {
  width: var(--app-width);
  height: var(--app-height);
  position: absolute;
  z-index: 0;
  backdrop-filter: blur(6px);
}
.popup.info > div {
  padding-top: 10px;
}
.blurred {
  filter: blur(6px);
}
.info.button {
  font-weight: 700;
  font-size: 120px;
  float: right;
  width: 135px;
  height: 135px;
  color: white;
  background-color: #005e8f;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

h1,
h4 {
  margin: 0px;
  -webkit-margin-before: 0px;
  -webkit-margin-after: 0px;
}
h4 {
  font-weight: normal;
}
.close {
  float: right;
  cursor: pointer;
}
a {
  text-decoration: none;
}
a:link,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

.button {
  cursor: pointer;
  border: 2px #606060 solid;
  border-radius: 5px;
  padding: 10px 70px;
  display: inline-block;
  background-color: #005e8f;
  font-weight: black;
  color: white;
  text-transform: uppercase;
  font-size: 53px;
  font-weight: 900;
}
.center {
  width: 100%;
  text-align: center;
}
.center .button {
  margin-top: 30px;
}
.alt-font {
  font-family: 'Karma';
  font-weight: bold;
}
.frame {
  background-color: #c5ebf3;
  border-radius: 44px;
  width: 100%;
  padding: 30px;
  padding-top: 75px;
  padding-bottom: 55px;
  border: 3px #606060 solid;
  margin-bottom: 10px;
  line-height: 1.25;
  font-size: 50px;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 200ms;
}
.fade-enter,
.fade-leave-active {
  opacity: 0;
}
.bigFade-leave-active,
.bigFade-enter-active {
  transition: opacity 2s;
}
.bigFade-enter,
.bigFade-leave-active {
  opacity: 0;
}
.blink {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
