.fade-enter-active,
.fade-leave-active {
  transition: opacity 200ms;
}
.fade-enter,
.fade-leave-active {
  opacity: 0;
}
.bigFade-leave-active,
.bigFade-enter-active {
  transition: opacity 2s;
}
.bigFade-enter,
.bigFade-leave-active {
  opacity: 0;
}
.blink {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
@keyframes fadeLeft {
  from {
    transform: translate(20px, 0);
    opacity: 0;
  }

  to {
    transform: translate(0, 0);
    opacity: 1;
  }
}
@keyframes pulse {
  0%,
  20%,
  80%,
  100% {
    opacity: 0;
  }
  50%,
  60% {
    opacity: 1;
  }
}
@keyframes themePulse {
  0%,
  20%,
  80%,
  100% {
    filter: brightness(1.2);
  }
  50%,
  60% {
    filter: brightness(1);
  }
}
@keyframes popButton {
  0% {
    opacity: 0;
    transform: scale(0.5);
    border-width: 0;
  }
  50% {
    opacity: 1;
    transform: scale(1.2);
    border-width: inherit;
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes popUp {
  0% {
    transform: scale(0.9);
  }

  80%,
  100% {
    transform: scale(1);
  }
}
@keyframes popIcon {
  0% {
    opacity: 1;
    /* transform: scale(2); */
    margin-left: -300px;
    /* border-width: 100px; */
  }
  50% {
    opacity: 1;
    /* transform: scale(1.2); */
    margin-left: 0;
    /* border-width: inherit; */
  }
  100% {
    opacity: 1;
    /* transform: scale(1); */
  }
}
@keyframes openDown {
  from {
    /* transform: scaleY(0.3) scaleX(0.95); */
    transform: translateY(40px);
  }
  to {
    transform: translateY(0);
    /* transform: scaleY(1) scaleX(1); */
  }
}
@keyframes pictoFlash {
  from {
    filter: brightness(1);
    box-shadow: none;
  }
  30% {
    filter: brightness(1.3);
    box-shadow: 0 0 60px 10px rgb(79, 253, 253);
  }
  to {
    filter: brightness(1);
    box-shadow: none;
  }
}
@keyframes flash {
  from {
    filter: brightness(1);
    opacity: 0;
  }
  40%,
  50% {
    filter: brightness(1.3);
    opacity: 1;
  }
  to {
    filter: brightness(1);
    opacity: 0;
  }
}
@keyframes zoomOut {
  from {
    transform: scale(1.3);
  }
  to {
    transform: scale(1);
  }
}
@keyframes fromTopRight {
  from {
    transform: translate(40px, -40px);
  }
  to {
    transform: translate(0, 0);
  }
}
@keyframes fromTopLeft {
  from {
    transform: translate(-70px, -10px);
  }
  to {
    transform: translate(0, 0);
  }
}
@keyframes fromBottomRight {
  from {
    transform: translate(20px, 50px);
  }
  to {
    transform: translate(0, 0);
  }
}
@keyframes fromTop {
  from {
    transform: translate(0, -20px);
  }
  to {
    transform: translate(0, 0);
  }
}
